.form-history {
    background: rgb(2, 2, 49);
    min-height: 100vh;
    padding: 8px;
}

.form-history h1,  .form-history button {
    color: white;
}

.form-history ul, .form-history p{
    color: rgb(20, 211, 236);

}

.form-history h1 {
    font-weight: normal;
}
.form-history button {
    background: none;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    transition: all linear 0.5s;
}

.form-history button:hover {
    cursor:pointer;
    background: rgb(20, 211, 236);
    color: rgb(2, 2, 49);
}


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;  
}